{% extends 'base.html' %}
{% load static %}
{% block cta %} 
<div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>Atención médica excepcional para sus mascotas.</h1>
                <p> En nuestro Sistema de Centros Médicos
                     combinamos medicina de clase mundial
                     con cuidado compasivo. </p>
                    <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Agendar una cita</a>
            </div>

        </div>
    </div>
{% endblock cta%}

{% block content%} 

<section class="container py-5"  style="margin-block:200px;" id="team">
    <div class="row text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Otros de nuestros servicios</h1>
            <p class="lead">Comprometidos con el bienestar de tu mascota.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src={% static 'img/ecommerce.jpg' %} alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Tienda en linea</h5>
                    <span class="small text-uppercase text-muted">Todo lo que necesitas para tu mejor amigo</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src={% static "img/appointmentsys.jpg" %} alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Citas</h5>
                    <span class="small text-uppercase text-muted">Porque nos importa la salud de tu mascota</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src={% static "/img/adoption.jpg" %} alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Sistema de adopcion</h5>
                    <span class="small text-uppercase text-muted">También pensamos en los más necesitados</span>
                </div>
            </div><!-- End -->

        </div>
    </div>
</section><!-- End -->

{%endblock content%}
