body {
  color: #404040;
  font-family: 'PT Sans';
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;

}

* {
  font-family: 'PT Sans';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin: 0;
  font-weight: 400;
  font-family: 'PT Sans';
}

a {
  color: #1F41A9;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.sidebar {
  position: absolute;
  width: 33.3333%;
  min-width: 200px;
  max-width: 400px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
  padding: 20px;
}

.quiet {
  color: #888;
}

.map {
  position: absolute;
  left: 33.3333%;
  top: 0; 
  bottom: 0;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: auto;
  padding: 10px;
}

#listingDiv {
  overflow: auto;
  float: left;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #000;
  font-weight: 700;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #DD954E;
}

.listings .item.active {
  background-color: #f8f8f8;
}

#storeinfo {
  padding: 10px 10px 20px 10px;
  display: none;
  background-color: gainsboro;
}

 ::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

 ::-webkit-scrollbar-track {
  background: none;
}

 ::-webkit-scrollbar-thumb {
  background: #1F41A9;
  border-radius: 0;
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.leaflet-container .leaflet-marker-icon {
  cursor: pointer;
}

#searchbox {
  width: 100%;
  height: 36px;
}

#search-input {
  font-size: 18px;
  width: 100%;
  margin-top: 5px;
  box-shadow: 0 1px lightgray;
  border: none;
}

#closeButton {
  float: right;
}

#closeButton:hover,
 :focus {
  color: #b74042;
  cursor: pointer;
}

#searchIcon:hover,
 :focus {
  color: #DD954E;
  cursor: pointer;
}

#infoClose {
  float: right;
}

#searchIcon {
  float: right;
  font-size: 26px;
  margin-top: 1px;
}

@media screen and (min-width:601px) and (max-width: 1199px) {
  .map {
    width: 66.6666%;
  }
}

@media screen and (max-width:600px) {
  .map {
    margin-left: 200px;
    right: 0;
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .map {
    left: 400px;
    right: 0;
  }
}

@media screen and (max-width:968px) {
  h1 {
    font-size: 1.2em;
  }
  #searchIcon {
    font-size: 16px;
  }
  
}


