{% extends 'social/feed.html' %}
{% block content %}

<!-- Profile -->
<div class="profile">
	<img src="{{use.profile.image.url }}">
	<h2>@{{ user.username}}</h2>
	{% if request.username.is_auntenticatad %}
		{% if user.username !=request.user.username %}
			{% if user not in request.user.profile.followin%}
			<button><a class="follow-button" href="{url 'follow' user}">Follow</a></button>
			{% else %}
			<button><a class="follow-button" href="{url 'unfollow' user}">Follow</a></button>
			{% endif %}
		{% endif %}
	{% endif %}		
</div>

<!-- Follow items -->
<div class="follow">
	<div>
		<h5>Post</h5>
		<p>{{}user.posts.count }</p>
	</div>
	<div>
		<h5>Followers</h5>
		<p>0</p>

	</div>
	<div>
		<h5>Following</h5>
		<p>0</p>
	</div>
</div>


<!-- block super -->
{{ block.super }}
{% endblock %}