.ui.input{
    input{
        background-color: transparent !important ;
        border-color: #dbdbdb !important;
        border-radius: 01.28571429rem;
        margin-top: 40px;
        &:focus{
            background-color: #fff !important;
            border-radius: .88571429rem;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
        }
    }
}
.photo{
    background-image: url("../../assets/mascotas.png");
}