.login-admin{
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #1F41A9;
    background-image: url(./mascotas.png);
    background-attachment: fixed;
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: right bottom;
        
    
    &__content{
        background-color: transparent;
        padding: 50px 50px;
        width: 500px;
        margin-top: 20px;
        
        > h1{
            font-size:35px;
            text-align: center;
            margin-top: 0px;
        }
        > h2{
            font-size:15px;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 40;
        }
        > h3{
            color: #1F41A9;
            font-size:15px;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 40;
        }
        > h4{
            color: #ffffff;
            font-size:15px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
}

.circle {
    background: #264ECA;
    border-radius: 50%;
    width: 800px;
    height: 800px;
    position:fixed;
    left: -400px;
    top: -410px;
}
.circle2 {
    background: #264ECA;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    position:fixed;
    left: -150px;
    top: 730px;
}
.circle3 {
    background: #264ECA;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position:absolute;
    left: 1450px;
    top: 20px;
}




